<h2 class="center">Filmes Favoritos</h2>
<table class="centered striped deep-orange lighten-3">
  <thead>
    <th>Nome</th>
    <th>Diretor</th>
    <th>Ano</th>
  </thead>
  <tr>
      <th>Transcendence</th>
      <th>Wally Pfister</th>
      <th>2014</th>
  </tr>
  <tr>
    <th>Ghost in the Shell</th>
    <th>Mamoru Oshii</th>
    <th>1995</th>
  </tr>
  <tr>
    <th>Matrix</th>
    <th>Lilly Wachowski, Lana Wachowski</th>
    <th>1999</th>
  </tr>
  <tr>
      <th>A chave mestra</th>
      <th>Iain Softley</th>
      <th>2015</th>
  </tr>
  <tr>
      <th>Corra!</th>
      <th>Jordan Peele</th>
      <th>2017</th>
  </tr>
</table>
